<p>Welcome To SBS</p>
<p>
	Below is a one-time activation link.
	After your email is confirmed, you will be shown a link where you can set up a password for your account.
    Be sure not to share it with anyone. This is a required set up. Without this, you will not be able to sign in to your account.
</p>

{% if DEBUG %}
	<a href="http://127.0.0.1:8000{% url 'app:confirm_password_reset' uidb64 token %}">
		http://127.0.0.1:8000{% url 'app:confirm_password_reset' uidb64 token %}
	</a>
{% else %}
	<a href="https://192.168.2.235:443{% url 'app:confirm_password_reset' uidb64 token %}">
		https://192.168.2.235:443{% url 'app:confirm_password_reset' uidb64 token %}
	</a>
{% endif %}

